<a href="https://colab.research.google.com/github/Aulianadya/PEMODELAN--SIMULASI/blob/main/Pemodelan_Project_UTS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from dataclasses import dataclass
from datetime import datetime
from typing import List, Dict
import random
import csv

In [ ]:
@dataclass
class Trainer:
    id: int
    name: str
    coins: int = 100

In [ ]:
@dataclass
class Student:
    id: int
    name: str

In [ ]:
@dataclass
class Course:
    id: int
    title: str
    trainer_id: int
    price: float

In [ ]:
@dataclass
class Enrollment:
    student_id: int
    course_id: int
    status: str = 'pending'

In [ ]:
@dataclass
class Review:
    student_id: int
    course_id: int
    rating: int
    comment: str

In [ ]:
@dataclass
class Assignment:
    class_id: int
    title: str
    due_date: datetime

In [ ]:
trainers: Dict[int, Trainer] = {}
students: Dict[int, Student] = {}
courses: Dict[int, Course] = {}
enrollments: List[Enrollment] = []
reviews: List[Review] = []
assignments: List[Assignment] = []

In [ ]:
# Add sample data
trainer_names = ["Alice", "Bob", "Cindy", "David", "Eva"]
student_names = ["Charlie", "Dana", "Eli", "Fiona", "George", "Hannah", "Ian", "Jill", "Kevin", "Lena"]
course_titles = ["Learn SQL", "Intro to AWS", "Python Basics", "Data Modeling", "Cloud Fundamentals"]

In [ ]:
for i, name in enumerate(trainer_names, start=1):
    trainers[i] = Trainer(id=i, name=name)

In [ ]:
for i, name in enumerate(student_names, start=1):
    students[i] = Student(id=i, name=name)

In [ ]:
course_id = 1
for trainer_id in trainers:
    for title in course_titles:
        courses[course_id] = Course(id=course_id, title=title, trainer_id=trainer_id, price=random.randint(100, 500))
        course_id += 1

In [ ]:
# Student Enrollment
def enroll(student_id: int, course_id: int):
    enrollments.append(Enrollment(student_id=student_id, course_id=course_id))
    print(f"Student {students[student_id].name} enrolled in {courses[course_id].title}")

In [ ]:
# Trainer views student using coins
def view_student(trainer_id: int):
    trainer = trainers[trainer_id]
    if trainer.coins >= 5:
        trainer.coins -= 5
        print(f"Trainer {trainer.name} viewed a student. Remaining coins: {trainer.coins}")
    else:
        print(f"Trainer {trainer.name} does not have enough coins.")

In [ ]:
# Assign assignment to a class
def assign_homework(class_id: int, title: str):
    assignments.append(Assignment(class_id=class_id, title=title, due_date=datetime(2024, 5, 1)))
    print(f"Assignment '{title}' assigned to class {class_id}")

In [ ]:
# Student provides review
def add_review(student_id: int, course_id: int, rating: int, comment: str):
    reviews.append(Review(student_id, course_id, rating, comment))
    print(f"Review added by {students[student_id].name} for {courses[course_id].title}")

In [ ]:
# Simulasi
print("\n--- Start Simulation ---\n")

--- Start Simulation ---

In [ ]:
# Randomly enroll students to courses
for student_id in students:
    for _ in range(2):  # Each student enrolls in 2 random courses
        cid = random.choice(list(courses.keys()))
        enroll(student_id, cid)

Student Charlie enrolled in Intro to AWS
Student Charlie enrolled in Intro to AWS
Student Dana enrolled in Python Basics
Student Dana enrolled in Cloud Fundamentals
Student Eli enrolled in Intro to AWS
Student Eli enrolled in Cloud Fundamentals
Student Fiona enrolled in Data Modeling
Student Fiona enrolled in Data Modeling
Student George enrolled in Intro to AWS
Student George enrolled in Learn SQL
Student Hannah enrolled in Data Modeling
Student Hannah enrolled in Intro to AWS
Student Ian enrolled in Learn SQL
Student Ian enrolled in Python Basics
Student Jill enrolled in Cloud Fundamentals
Student Jill enrolled in Data Modeling
Student Kevin enrolled in Cloud Fundamentals
Student Kevin enrolled in Data Modeling
Student Lena enrolled in Learn SQL
Student Lena enrolled in Python Basics

In [ ]:
# Trainers view students and give assignments
for trainer_id in trainers:
    view_student(trainer_id)
    assign_homework(class_id=trainer_id, title=f"Assignment for class {trainer_id}")

Trainer Alice viewed a student. Remaining coins: 95
Assignment 'Assignment for class 1' assigned to class 1
Trainer Bob viewed a student. Remaining coins: 95
Assignment 'Assignment for class 2' assigned to class 2
Trainer Cindy viewed a student. Remaining coins: 95
Assignment 'Assignment for class 3' assigned to class 3
Trainer David viewed a student. Remaining coins: 95
Assignment 'Assignment for class 4' assigned to class 4
Trainer Eva viewed a student. Remaining coins: 95
Assignment 'Assignment for class 5' assigned to class 5

In [ ]:
# Students give random reviews
comments = ["Excellent!", "Very good", "Average", "Could be better", "Loved it"]
for enrollment in enrollments:
    if random.random() < 0.7:  # 70% chance to leave a review
        add_review(
            student_id=enrollment.student_id,
            course_id=enrollment.course_id,
            rating=random.randint(3, 5),
            comment=random.choice(comments)
        )

Review added by Dana for Python Basics
Review added by Eli for Intro to AWS
Review added by Fiona for Data Modeling
Review added by Fiona for Data Modeling
Review added by George for Intro to AWS
Review added by George for Learn SQL
Review added by Hannah for Data Modeling
Review added by Hannah for Intro to AWS
Review added by Ian for Learn SQL
Review added by Jill for Cloud Fundamentals
Review added by Kevin for Cloud Fundamentals
Review added by Lena for Learn SQL
Review added by Lena for Python Basics

In [ ]:
print("\n--- End Simulation ---")

--- End Simulation ---

In [ ]:
# Simpan enrollments
with open("enrollments.csv", "w", newline="") as f:
    writer = csv.writer(f)
    writer.writerow(["student_id", "student_name", "course_id", "course_title", "status"])
    for e in enrollments:
        writer.writerow([
            e.student_id,
            students[e.student_id].name,
            e.course_id,
            courses[e.course_id].title,
            e.status
        ])

In [ ]:
# Simpan assignments
with open("assignments.csv", "w", newline="") as f:
    writer = csv.writer(f)
    writer.writerow(["class_id", "trainer_name", "title", "due_date"])
    for a in assignments:
        writer.writerow([
            a.class_id,
            trainers[a.class_id].name,
            a.title,
            a.due_date.strftime("%Y-%m-%d")
        ])

In [ ]:
# Simpan reviews
with open("reviews.csv", "w", newline="") as f:
    writer = csv.writer(f)
    writer.writerow(["student_id", "student_name", "course_id", "course_title", "rating", "comment"])
    for r in reviews:
        writer.writerow([
            r.student_id,
            students[r.student_id].name,
            r.course_id,
            courses[r.course_id].title,
            r.rating,
            r.comment
        ])

In [ ]:
# Simpan coin saldo trainer
with open("trainer_coins.csv", "w", newline="") as f:
    writer = csv.writer(f)
    writer.writerow(["trainer_id", "trainer_name", "remaining_coins"])
    for t in trainers.values():
        writer.writerow([t.id, t.name, t.coins])